.nav {
	background-color: var(--primary);
	padding: 0.5rem 0;
	z-index: var(--foreground);
}

.navContent {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 4rem;
}

.logo {
	flex-shrink: 0;
}

.searchBar {
	max-width: 20rem;
}

.searchIcon {
	color: var(--grey-dark);
}

.closeIcon {
	padding: 0px 2px;
	background-color: #fff;
}
