.root {
	display: flex;
	flex-direction: column;
	background-color: var(--grey-bg);
	height: 100%;
}

.comicBackground {
	background-image: url("../../assets/comic-background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;

	position: fixed;
	inset: 0;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	flex: 1;
	padding-top: 4rem;
	padding-bottom: 4rem;

	z-index: var(--foreground);
}

.comicBackground {
	position: fixed;
	inset: 0;
	filter: blur(2px);

	z-index: var(--background);
}
