.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	flex: 1;

	z-index: var(--foreground);
}

.comicBackground {
	position: fixed;
	inset: 0;
	filter: blur(2px);

	z-index: var(--background);
}
