.root {
	flex: 1;
}

.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	flex: 1;
	padding-top: 3rem;
	padding-bottom: 4rem;

	z-index: var(--foreground);
}

@media (max-width: 75rem) {
	.content {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}

@media (max-width: 48rem) {
	.content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 36rem) {
	.content {
		grid-template-columns: 100%;
	}
}
