.root {
	flex: 1;
}

.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	flex: 1;
	padding-top: 3rem;
	padding-bottom: 4rem;

	z-index: var(--foreground);
}

.resultsHeading {
	font-size: var(--text-size-xlarge);
	color: var(--text-white);
}

.exploreText {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 2rem;
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;
	font-size: var(--text-size-small);
	color: var(--text-white);
	border-radius: 4px;
	background-color: var(--grey-card);
	padding: 2rem 0;
	width: 100%;
	fill: var(--warning);
}

.loading {
	margin: auto;
}

@media (max-width: 75rem) {
	.content {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}

@media (max-width: 48rem) {
	.content {
		grid-template-columns: repeat(2, 1fr);
	}

	.exploreText {
		flex-direction: column;
		align-items: flex-start;
	}

	.exploreText button {
		width: 100%;
	}
}

@media (max-width: 36rem) {
	.content {
		grid-template-columns: 100%;
	}
}
